*{
    box-sizing: border-box;
    font-family: Georgia;
    font-size: 16px;          
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    color: black;
    display: flex;
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li, a, button{
    color: black;
    text-decoration: none;
}

#navbar{
    background-color: rgb(255, 251, 251);
    border-bottom: 1px solid rgb(243, 234, 234);
    overflow: hidden;
    position: sticky;
    top: 0;
    padding-left: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 20;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    font-size: 2em;
    display: inline-block;
    padding: 0px 20px;
}

.btn1 button{
    margin-left: 250px;
    padding: 10px;
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
    cursor: pointer;
}

.btn1 button:hover{
    color: blue;
    border:1px blue solid;
}


.btn2 button{
    color: white;
    margin: 10px;
    padding: 10px;
    background-color: black;
    border: 1px black solid;
    border-radius: 10px;
    cursor: pointer;
}

.btn2 button{
    transition: all 0.5s ease 0s;
}
.btn2 button:hover{
    background-color: navy;
}

.box1{
    justify-content: left;
    margin-right: 30px;
    margin-top: 50px;
    width: 580px;
    height: 700px;
    border-radius: 5px;
    border: none;
}

.h1{
    font-size: 410%;
    text-align: justify;
    padding-top: 70px;
}

.text1{
    line-height: 30px;
    font-size: 120%;
    text-align: left;
    margin-top: 10px;
}

.btn3 button{
    transition: all 0.5s ease 0s;
}
.btn3 button:hover{
    background-color: navy;
}

.buttontext, .buttonicon{
    display: inline-flex;
    align-items: center;
    padding: 0 2px;
    height: 100%;
}

.buttonicon{
    font-size: 1.5em;
    padding-bottom: 4px;
    padding-right: 10px;
}

.buttontext{
    font-size: 110%;
    font-family: Georgia;
}

.headbox{
    margin-right: 0;
    margin-left: 0px;
    margin-top: 50px;
    width: 500px;
    height: 700px;
    border-radius: 5px;
    border: none;
    z-index: 2;
}

.backg{
    background-color: whitesmoke;
    height: 750px;
    width: 350px;
    position: absolute;
    margin-left: 900px;
    z-index: 1;
    
}

.rect{ 
    margin-left: 140px;
    position: absolute;
    z-index: 2;
}

.headerimg{
    position: absolute;
    margin-left: 100px;
    margin-top: 35px;
    z-index: 2;
}

.rent{
    width: 200px;
    position: absolute;
    margin-top: 180px;
    margin-left: 10px;
    z-index: 2;
}

.investify{
    width: 200px;
    position: absolute;
    margin-top: 400px;
    margin-left: 360px;
    z-index: 2;
}

#circle1{
    position: absolute;
    background-color: plum;
    border-radius: 50%;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    margin-top: 160px;
    margin-left: 440px;  
    z-index: 2; 
}

#dotbox1{
    position: absolute;
    margin-top: 350px;   
    margin-left: 70px;
    z-index: 2;
}

#dotbox2{
    position: absolute;
    margin-top: 350px;   
    margin-left: 100px;
    z-index: 2;
}
.dot1{
    background-color: lightseagreen;
    border-radius: 50%;
    opacity: 0.3;
    width: 10px;
    height: 10px;
    display: block;
    margin: 10px;
    z-index: 2;
}

.box2{
    text-align: justify;
    margin-top: 50px;
    width: 90%;
    height: 400px;
    border-radius: 5px;
}

.security{
    position: absolute;
    width: 95px;
    height: 110px;
    margin-top: 180px;
    margin-left: 280px;
}

.h2{
    font-size: 200%;
    padding-top: 150px;
    padding-left: 400px;
}

.text2{
    margin-top: 5px;
    margin-bottom: 25px;
    padding-right: 100px;
    padding-left: 400px;
    line-height: 30px;
}

.lm{
    color: blue;
    padding-left: 400px;
}

.box3{
    text-align: justify;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 60px;
    padding-top: 20px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
}

.box4{
    background-color: whitesmoke;
    text-align: justify;
    margin-top: 100px;
    padding: 25px;
    margin-right: 50px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    cursor: pointer;
}

.h3{
    font-size: 250%;
}

.icon{
    width: 50px;
    height: 50px;
}

.h4{
    font-size: 130%;
}

.box5{
    text-align: justify;
    margin-top: 200px;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    
}

.box6{
    text-align: justify;
    margin-top: 200px;
    margin-right: 50px;
    padding-top: 70px;
    padding-right: 70px;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

#circle2{
    position: absolute;
    background-color: plum;
    border-radius: 50%;
    opacity: 0.25;
    width: 270px;
    height: 270px;
    margin-top: 150px;
}

.invest{
    position: absolute;
    width: 250;
    height: 500px;
    margin-left: 130px;
}

.h5{
    font-size: 280%;
}

.box7{
    color: white;
    background-color: rgb(0, 68, 255);
    text-align: justify;
    margin-top: 200px;
    margin-right: 0;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 200px;
    width: 750px;
    height: 550px;
}

.saver{
    margin-top: 200px;
    height: 550px;
    width: 599px;
}


.h6{
    color: white;
    font-size: 350%;
    text-align: justify;
}

.box9{  
    margin-top: 100px;
    width: 500px;
    height: 470px;
    margin-right: 90px;
    border-radius: 5px;
}

.tbox{
    background-color: whitesmoke;
    text-align: justify;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 500px;
    height: fit-content;
    border-radius: 0px;
    cursor: pointer;
}

.timg{
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.date{
    opacity: 0.5;
    font-size: 80%;
    margin-left: 200px;
}

.ttext{
    opacity: 0.8;
    font-size: 90%;
    margin-left: 60px;
    margin-right: 35px;
    
}

.box10{ 
    padding-top: 50px;
    padding-right: 20px; 
    margin-top: 100px;
    width: 550px;
    height: 470px;
    border-radius: 5px;
}

.box11{
    color: black;
    background-color: whitesmoke;
    margin-top: 100px;
    padding-top: 75px;
    padding-left: 70px;
    width: 1400px;
    height: 200px;
}

.image{
    position: absolute;
    height: 25px;
    width: 150px;
    margin-top: 15px;
    margin-left: 500px;
}

.image2{
    position: absolute;
    height: 25px;
    width: 200px;
    margin-top: 15px;
    margin-left: 700px;
}

.image3{
    position: absolute;
    height: 25px;
    width: 150px;
    margin-top: 15px;
    margin-left: 950px;
}

.himg{
    margin-top: 0;
    position: absolute;
    font-size: 250%;
    display: inline-block; 
}

.box12{
    border: none;
    width: 1400px;
    height: 500px;
    margin-top: 100px;
    padding: 0 70px;
}

.flogo{
    position: absolute;
    margin-top: 15px;
}

.fbox1{
    position: absolute;
    height: 200px;
    width: 150px;
    margin-left: 250px;
}

.fbox2{
    position: absolute;
    height: 200px;
    width: 150px;
    margin-left: 500px;
}

.fbox3{
    position: absolute;
    height: 200px;
    width: 150px;
    margin-left: 730px;
}

.fbox4{
    text-align: right;
    position: absolute;
    height: 200px;
    width: 250px;
    margin-left: 955px;
    padding-top: 15px;
}

.fbox5{
    font-size: 0.9em;
    text-align: center;
    position: absolute;
    height: 150px;
    width: 730px;
    margin-left: 250px;
    margin-top: 300px;
}

.fbox5 p{
    font-size: 1em;
    line-height: 30px;
}


.flist{
    list-style: none;
}

.flist li a{
    font-size: 0.9em;
    line-height: 30px;
}

.flist li a:hover{
    color: blue;
}

.fb{
    width: 27px;
    height: 27px; 
    margin-bottom: 20px; 
    margin-left: 150px;   
}

.twi{
    width: 27px;
    height: 27px; 
    margin-bottom: 20px;    
}

.insta{
    width: 27px;
    height: 27px; 
    margin-bottom: 20px;   
}

.mail{
    font-size: 0.9em;
   
}

.mail:hover{
    color: blue;
}


