*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px; 
    list-style: none;
    text-decoration: none;         
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    color: black;
    display: flex;
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* HEADER BAR */

li, a, button{
    color: black;
    text-decoration: none;
}

.header{
    background-color: white;
    box-shadow: 1px 1px 4px 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-items: space-evenly;
    top: 0;
    width: 100%;
    z-index: 20;
}

.menu li{
    font-size: 2em;
    display: inline-block;
    padding: 0px 40px;
}

.logo{
    cursor: pointer;
    padding-left: 70px;
}

.menu-btn{
    display: none;
}


.btn1 button{
    padding: 10px;
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
    cursor: pointer;
}

.btn1 button:hover{
    color: blue;
    border:1px blue solid;
}


.btn2 button{
    color: white;
    padding: 10px;
    background-color: black;
    border: 1px black solid;
    border-radius: 10px;
    cursor: pointer;
}

.btn2 button{
    transition: all 0.5s ease 0s;
}
.btn2 button:hover{
    background-color: navy;
}





/* SECTION ONE */

.backg{
    background-color: whitesmoke;
    height: 800px;
    width: 350px;
    position: absolute;
    margin-left: 900px;
    z-index: 1;   
}

.section1{
    display: flex;
    margin-top: 150px;
    padding: 0 5%;
    width: 100%;
    justify-content: space-between;
}

.box1{
    justify-content: left;
    width: 45%;
    padding-bottom: 50px;
}

.h1{
    font-size: 65px;
    padding-top: 30px;
}

.text1{
    line-height: 30px;
    font-size: 17px;
}

.btn3 button{
    transition: all 0.5s ease 0s;
}
.btn3 button:hover{
    background-color: navy;
}

.buttontext, .buttonicon{
    display: inline-flex;
    align-items: center;
    padding: 0 2px;
    height: 100%;
}

.buttonicon{
    font-size: 1.5em;
    padding-bottom: 4px;
    padding-right: 10px;
}

.buttontext{
    font-size: 110%;
    font-family: Georgia;
}

.btn3 button{
    color: white;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    border: 1px black solid;
    border-radius: 10px;
    cursor: pointer;
}

.btn4{
    background-color: white;
    display: inline-flex;
    height: 50px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer; 
    border: 2px solid whitesmoke;  
}

.headbox{
    width: 45%;
    z-index: 2;
}



.rect{ 
    margin-left: 140px;
    position: absolute;
    z-index: 2;
}

.headerimg{
    position: absolute;
    margin-left: 100px;
    margin-top: 35px;
    z-index: 2;
}

.rent{
    width: 200px;
    position: absolute;
    margin-top: 180px;
    margin-left: 10px;
    z-index: 2;
}

.investify{
    width: 200px;
    position: absolute;
    margin-top: 400px;
    margin-left: 360px;
    z-index: 2;
}

#circle1{
    position: absolute;
    background-color: plum;
    border-radius: 50%;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    margin-top: 160px;
    margin-left: 440px;  
    z-index: 2; 
}

#dotbox1{
    position: absolute;
    margin-top: 350px;   
    margin-left: 70px;
    z-index: 2;
}

#dotbox2{
    position: absolute;
    margin-top: 350px;   
    margin-left: 100px;
    z-index: 2;
}
.dot1{
    background-color: lightseagreen;
    border-radius: 50%;
    opacity: 0.3;
    width: 10px;
    height: 10px;
    display: block;
    margin: 10px;
    z-index: 2;
}

/* SECTION TWO */

.section2{
    display: flex;
    justify-content: flex-end;
    margin-top: 200px;
    width: 100%;
    padding-right: 100px;
}

.secure{
    width:70%;
    display: flex;
    text-align: justify;
    align-items: center;
}

.security{
    width: 95px;
    height: 110px;
    margin-right: 50px;
}

.h2{
    font-size: 40px;
}

.text2{
    font-size: 17px;
    line-height: 30px;
}

.lm{
    color: blue;
}

/* SECTION THREE */

.section3{
    width: 100%;
    margin-top: 150px;
    display: flex;
    padding-left: 5%;
    justify-content: space-between;
}

.box3{
    text-align: justify;
    padding: 25px 0;
    width: 25%;
}

.piggybank{
    background-color: whitesmoke;
    text-align: justify;
    padding: 25px;
    width: 27%;
    border-radius: 20px;
    cursor: pointer;
}

.safelock{
    background-color: whitesmoke;
    text-align: justify;
    padding: 25px;
    width: 27%;
    border-radius: 20px;
    cursor: pointer;
}

.h3{
    font-size: 40px;
}

.btn5{
    color: navy;
    font-size: 20px;
    background-color: whitesmoke;
    display: inline-block;
    height: 50px;
    width: auto;
    padding: 10px;
    margin-top: 70px;
    border-radius: 10px;
    cursor: pointer; 
    border: 1px solid whitesmoke; 
}

.btn6{
    color: lightseagreen;
    font-size: 20px;
    background-color: whitesmoke;
    display: inline-block;
    height: 50px;
    width: auto;
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer; 
    border: 1px solid whitesmoke;  
}

.arrowright{
position: absolute;
border: solid rgb(54, 53, 53);
border-width: 0 3px 3px 0;
display: inline-block;
margin-top: 12px;
margin-left: -12px;
padding: 3px;
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.h4{
    font-size: 22px;
}

.icon{
    width: 50px;
    height: 50px;
}

/* SECTION FOUR */

.section4{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.emptybox{
    padding: 25px 0;
    width: 350px;
    height: 350px;
}

.target{
    background-color: whitesmoke;
    text-align: justify;
    padding: 25px;
    width: 27%;
    border-radius: 20px;
    cursor: pointer;
}

.flex{
    background-color: whitesmoke;
    text-align: justify;
    padding: 25px;
    width: 27%;
    border-radius: 20px;
    cursor: pointer;
}

.btn7{
    color: green;
    font-size: 20px;
    background-color: whitesmoke;
    display: inline-block;
    height: 50px;
    width: auto;
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    cursor: pointer; 
    border: 1px solid whitesmoke;  
}

.btn8{
    color: rgba(241, 10, 106, 0.884);
    font-size: 20px;
    background-color: whitesmoke;
    display: inline-block;
    height: 50px;
    width: auto;
    padding: 10px;
    margin-top: 75px;
    border-radius: 10px;
    cursor: pointer; 
    border: 1px solid whitesmoke;  
}

/* SECTION FIVE */

.section5{
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
}

.box5{
    width: 40%;
}

#circle2{
    position: absolute;
    background-color: plum;
    border-radius: 50%;
    opacity: 0.25;
    width: 270px;
    height: 270px;
    margin-top: 150px;
}

.invest{
    position: absolute;
    width: 250;
    height: 500px;
    margin-left: 110px;
}

.dot2{
    background-color: plum;
    border-radius: 50%;
    opacity: 0.5;
    width: 10px;
    height: 10px;
    display: block;
    margin: 10px;
}

#dotbox3{
    position: absolute;
    margin-top: 20px;   
    margin-left: 360px;
   
}

#dotbox4{
    position: absolute;
    margin-top: 20px;   
    margin-left: 380px;
    
}

.box6{
    text-align: justify;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-right: 15px;
    width: 39%
}

.h5{
    font-size: 52px;
    margin-top: 0;
}

.b6{
    height: 40px;
    width: 200px;
    margin-top: 40px;
    background-color: whitesmoke;
    color: blueviolet;
    border: 0px solid black;
    border-radius: 20px;
}

/* SECTION SIX */

.section6{
    display: flex;
    width: 100%;
    margin-top: 200px;
}

.box7{
    color: white;
    background-color: rgb(0, 68, 255);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 4%;
    flex-basis: 60%; 
}

.h6{
    color: white;
    font-size: 60px;
}

.btn9{
    color: white;
    font-size: 20px;
    background-color: rgb(0, 68, 255);
    width: auto;
    padding: 10px;
    margin-top: 5%;
    border-radius: 10px;
    cursor: pointer; 
    border: 0px solid whitesmoke;  
}

.arrowright2{
    position: absolute;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-top: 10px;
    margin-left: -12px;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    }

.saver{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.saverimgdiv{
    width: 40%;
}

/* SECTION SEVEN */

.section7{
    display: flex;
    margin-top: 100px;
    width: 100%;
    padding: 0 5%;
    justify-content: space-between;
}

.box9{  
    width: 42%;
    padding-bottom: 10px;
    border-radius: 5px;
}

.tbox{
    background-color: whitesmoke;
    text-align: justify;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    cursor: pointer;
}

.timg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.reviewbox{
    display: flex;
    align-items: flex-start;
}

.date{
    opacity: 0.5;
    font-size: 13px;
    text-align: right;
}

.ttext{
    opacity: 0.8;
    font-size: 13px;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 35px;  
}

.box10{ 
    padding-top: 50px; 
    padding-bottom: 10px;
    width: 40%;
}

/* SECTION EIGHT */

.section8{
    color: black;
    background-color: whitesmoke;
    margin-top: 150px;
    padding: 60px 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.featured{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.himg{
    font-size: 45px;
}

.image{
    height: 25px;
    width: 150px;
}

/* SECTION NINE */

.section9{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    padding: 0 65px;
}

.flogo{
    margin-top: 13px;
}

.fbox{
    width: 150px;
    height: fit-content;
}

.fbox4{
    display: block;
    width: 250px;
    height: 200px;
    margin-top: 20px;
}

.fbox4text{
    text-align: right;
}

.social{
    width: 100px;
    margin-left: 150px;
    display: flex;
    float: right;
    margin-bottom: 20px;
    justify-content: space-between;
}

.fb{
    width: 27px;
    height: 27px;    
}


.flist{
    list-style: none;
}

.flist li a{
    font-size: 0.9em;
    line-height: 30px;
}

.flist li a:hover{
    color: blue;
}

.mail{
    font-size: 0.9em;  
}

.mail:hover{
    color: blue;
}

.section10{
    text-align: center;
    width: 80%;
    margin: 70px 0;
    padding: 0 5%;
    line-height: 30px;
}



@media screen and (max-width:960px) {

.container{
    flex-direction: column;
}

/* NAVIGATION BAR */

.header{
    display: block;
}

.header ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header ul a{
    display: block;
    padding: 20px;
}

.logo{
    padding-left: 0;
    padding-top: 8px;
}

.btn1 button{
    width: 90%;
}

.btn2 button{
    width: 90%;
}

.menu{
    clear:both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.menu li{
    display: block;
    line-height: 30px;
    text-align: center;
    padding: 0;
}

.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon{
    background-color: black;
    display: block;
    height: 3px;
    width: 30px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
    background-color: black;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon:after{
    background-color: black;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn:checked ~ .menu{
    max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}

/* SECTION ONE */

.backg{
    display: none;
}

.section1{
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.box1{
    text-align: center;
    width: 90%;
    padding-bottom: 50px;
}

.h1{
    font-size: 47px;
}

.text1{
    font-size: 15px;
}

.headbox{
    width: 90%;
    margin-top: 30px;
}

.rect{ 
    margin-left: 60px;
}

.rent{
    margin-left: -40px;
}

.headerimg{
    margin-left: 20px;  
}

.investify{
    margin-left: 260px;
}

#circle1{
    margin-left: 360px;  
}

#dotbox1{  
    margin-left: -10px;
}

#dotbox2{   
    margin-left: 20px;
}

/* SECTION TWO */

.section2{
    justify-content: center;
    padding-right: 0;
    margin-top: 700px;
}

.secure{
    flex-direction: column;
    text-align: center;
}

.h2{
    font-size: 30px;
}

.text2{
    font-size: 15px;
}

/* SECTION THREE */

.section3{
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.box3{
    width: 90%;
    text-align: center;
}

.piggybank{
    width: 90%;
    text-align: center;
    margin-top: 30px;
}

.safelock{
    width: 90%;
    text-align: center;
    margin-top: 30px;
}

/* SECTION FOUR */

.section4{
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.emptybox{
    display: none;
}

.target{
    width: 85%;
    text-align: center;
}

.flex{
    width: 85%;
    text-align: center;
    margin-top: 30px;
}

/* SECTION FIVE */

.section5{
    flex-direction: column;
    align-items: center;
}

.box5{
    width: 90%;
}

#dotbox3{
    display: none;
}

#dotbox4{
    display: none;
}

.box6{
    width: 90%;
    margin-top: 500px;
    text-align: center;
}

.h5{
    font-size: 42px;
    margin-top: 0;
}

/* SECTION SIX */

.section6{
    flex-direction: column; 
    width: 100%;
    margin-top: 30px; 
}

.box7{
    width: 100%;
    text-align: center;
}

.h6{
    font-size: 40px;
}

.saverimgdiv{
    width: 100%;
}

/* SECTION SEVEN */

.section7{
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 20px;
}

.box9{
    width: 98%;
    margin-top: 50px;
}

.box10{ 
    width: 100%;
    text-align: center;
}

/* SECTION EIGHT */
.section8{
    flex-direction: column;
    margin-top: 100px;
    padding: 20px 20px;
}

.featured{
    flex-direction: column;
    align-items: center;
}

.image{
    margin-bottom: 20px;
}

.himg{
    font-size: 30px;
    margin-bottom: 50px;
}

/* SECTION NINE */

.section9{
    flex-direction: column;
    margin-top: 50px;
    padding: 0;
}

.flogo{
    padding-left: 39px;
    padding-bottom: 30px;
}

.fbox4{
    margin-left: 45px;
}

.fbox4text{
    text-align: left;
}

.social{
    margin-right: 150px;
}

/* SECTION TEN */

.section10{
    width: 100%;
}

}